---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: subscriptions.cp.wso2.com
spec:
  group: cp.wso2.com
  names:
    kind: Subscription
    listKind: SubscriptionList
    plural: subscriptions
    singular: subscription
  scope: Namespaced
  versions:
  - name: v1alpha2
    schema:
      openAPIV3Schema:
        description: Subscription is the Schema for the subscriptions API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: SubscriptionSpec defines the desired state of Subscription
            properties:
              api:
                description: API defines the API associated with the subscription
                properties:
                  name:
                    type: string
                  version:
                    type: string
                required:
                - name
                - version
                type: object
              organization:
                type: string
              subscriptionStatus:
                type: string
            required:
            - api
            - organization
            - subscriptionStatus
            type: object
          status:
            description: SubscriptionStatus defines the observed state of Subscription
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
  - name: v1alpha3
    schema:
      openAPIV3Schema:
        description: Subscription is the Schema for the subscriptions API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: SubscriptionSpec defines the desired state of Subscription
            properties:
              api:
                description: API defines the API associated with the subscription
                properties:
                  name:
                    type: string
                  version:
                    type: string
                required:
                - name
                - version
                type: object
              organization:
                type: string
              ratelimitRef:
                description: RatelimitRef defines the ratelimit associated with the
                  subscription
                properties:
                  level:
                    type: string
                  name:
                    type: string
                required:
                - level
                - name
                type: object
              subscriptionStatus:
                type: string
            required:
            - api
            - organization
            - ratelimitRef
            - subscriptionStatus
            type: object
          status:
            description: SubscriptionStatus defines the observed state of Subscription
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
