<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login Example</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="form-message" >
        <%- message %>
    Try accessing <a href="/admin">/admin</a>, then authenticate with "admin" and "admin".
        </div>
    </div>
    <div class="container">
        <div class="wrapper">
            <form action="/login" method="post" name="Login_Form" class="form-signin">
                <h3 class="form-signin-heading">SIGN IN</h3>

                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required="" autofocus="" />
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required=""/>
                <input type="text" class="form-control" id="org" name="org" placeholder="Organization" required="" autofocus="" />
                
                <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">SIGN IN</button>
            </form>
        </div>
    </div>
<%- include('foot') -%>