<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="org.wso2.apk.enforcer.analytics.publisher" status="WARN">
    <Appenders>
        <UnitTestAppender name="UnitTestAppender"/>
        <Console name="ConsoleAppender"/>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="UnitTestAppender" />
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>
