<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2021, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Analytics-Publisher-Test-Suite" parallel="false">
    <test name="analytics-publisher-tests" enabled="true" preserve-order="true">
        <parameter name="proxyConfigEnabled" value="false">
            <classes>
                <class name="org.wso2.apk.enforcer.analytics.publisher.MetricReporterTestCase"/>
                <class name="org.wso2.apk.enforcer.analytics.publisher.LogMetricReporterTestCase"/>
                <class name="org.wso2.apk.enforcer.analytics.publisher.DefaultResponseMetricBuilderTestCase"/>
                <class name="org.wso2.apk.enforcer.analytics.publisher.DefaultFaultMetricBuilderTestCase"/>
                <class name="org.wso2.apk.enforcer.analytics.publisher.ErrorHandlingTestCase"/>
                <class name="org.wso2.apk.enforcer.analytics.publisher.EventHubClientTestCase"/>
            </classes>
        </parameter>
    </test>
    <test name="analytics-publisher-tests-with-proxy-config" enabled="true" preserve-order="true">
        <parameter name="proxyConfigEnabled" value="true">
            <classes>
                <class name="org.wso2.apk.enforcer.analytics.publisher.EventHubClientTestCase"/>
            </classes>
        </parameter>
    </test>
</suite>
