{{- if .Values.wso2.apk.cp.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "apk-helm.resource.prefix" . }}-management-server-config-toml
  namespace: {{ .Release.Namespace }}
data:
  config.toml: | 
    [backOffice]
      host = "{{ template "apk-helm.resource.prefix" . }}-backoffice-ds-service.{{ .Release.Namespace }}.svc"
      port = 9444
      serviceBasePath = "/api/backoffice/internal/apis"
    [managementServer.keystore]
      certPath = "/home/wso2/security/keystore/management-server.pem"
      keyPath = "/home/wso2/security/keystore/management-server.key"
    [managementServer.truststore]
      location = "/home/wso2/security/truststore"
      
{{- end -}}
