---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - cp.wso2.com
  resources:
  - applications
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cp.wso2.com
  resources:
  - applications/finalizers
  verbs:
  - update
- apiGroups:
  - cp.wso2.com
  resources:
  - applications/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - cp.wso2.com
  resources:
  - subscriptions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cp.wso2.com
  resources:
  - subscriptions/finalizers
  verbs:
  - update
- apiGroups:
  - cp.wso2.com
  resources:
  - subscriptions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dp.wso2.com
  resources:
  - apipolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dp.wso2.com
  resources:
  - apipolicies/finalizers
  verbs:
  - update
- apiGroups:
  - dp.wso2.com
  resources:
  - apipolicies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dp.wso2.com
  resources:
  - apis
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dp.wso2.com
  resources:
  - apis/finalizers
  verbs:
  - update
- apiGroups:
  - dp.wso2.com
  resources:
  - apis/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dp.wso2.com
  resources:
  - authentications
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dp.wso2.com
  resources:
  - authentications/finalizers
  verbs:
  - update
- apiGroups:
  - dp.wso2.com
  resources:
  - authentications/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dp.wso2.com
  resources:
  - httproutes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dp.wso2.com
  resources:
  - httproutes/finalizers
  verbs:
  - update
- apiGroups:
  - dp.wso2.com
  resources:
  - httproutes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dp.wso2.com
  resources:
  - ratelimitpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dp.wso2.com
  resources:
  - ratelimitpolicies/finalizers
  verbs:
  - update
- apiGroups:
  - dp.wso2.com
  resources:
  - ratelimitpolicies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dp.wso2.com
  resources:
  - scopes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dp.wso2.com
  resources:
  - scopes/finalizers
  verbs:
  - update
- apiGroups:
  - dp.wso2.com
  resources:
  - scopes/status
  verbs:
  - get
  - patch
  - update
