<!DOCTYPE html>
<% // =============================================================  %>
<% // ========== We are using lodash template syntax here =========  %>
<html>
  <head>
    <link rel="stylesheet" href="/sourcecodepro_font/source-code-pro.css" />
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript" src="/conf/Settings.js"></script>
    <script type="text/javascript" src="/conf/OldSettings.js"></script>
    <script type="text/javascript" src="/conf/userTheme.js"></script>
    <% // =============================================================  %>
    <% // ========== Need to load the live reloading manually =========  %>
    <% if( htmlWebpackPlugin.options.templateParameters.env === 'development' ) { %>
    <script src="http://localhost:35729/livereload.js?snipver=1" async="" defer=""></script>
    <% } %>
  </body>
</html>