name: Code Coverage
on:
  workflow_dispatch:
  pull_request_target:
    types:
      - closed
    branches:
      - '1.3.0'
concurrency:
  group: codecov-${{ github.event.number || github.run_id }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.24"
      - name: Install Revive
        shell: sh
        run: |
          go install github.com/mgechev/revive@v1.3.4
      - name: Cache Ballerina.
        uses: actions/cache@v3
        id: cache
        with:
          path: "ballerina-dist/*.deb"
          key: "ballerina-2201.11.0"
      - name: Download Ballerina distribution.
        shell: sh
        run: |
          mkdir -p ballerina-dist
          wget 'https://dist.ballerina.io/downloads/2201.11.0/ballerina-2201.11.0-swan-lake-linux-x64.deb' -P ballerina-dist
        if: steps.cache.outputs.cache-hit != 'true'
      - name: Install Ballerina distribution.
        shell: sh
        run: "sudo dpkg -i ballerina-dist/ballerina-2201.11.0-swan-lake-linux-x64.deb"
      - name: Verify Ballerina Version
        shell: sh
        run: "bal -v"
      - name: Checkout apk-repo
        uses: actions/checkout@v3
        with:
          fetch-depth: "0"
          token: ${{ secrets.APK_BOT_TOKEN }}
      - name: Set release username and email
        shell: sh
        run: |
          git config --global user.name ${{ secrets.APK_BOT_USER }}
          git config --global user.email ${{ secrets.APK_BOT_EMAIL }}
      - name: Run Gradle Build
        run: |
          ./build-apk.sh
      - name: run codecov
        uses: codecov/codecov-action@v3
        with:
          verbose: true # optional (default = false)
